<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Nginx</title>
</head>
<body>
    <h1>Welcome to Nginx on {{ ansible_hostname | upper }}</h1>
    <p>Today's date is: {{ ansible_date_time.date }}</p>
</body>
</html>
